@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SOFT806 Class Activity</h1>
    <h1>Group:</h1>
    <p>Renata - 09197003</p>
    <p>Manpreet - 09217580</p>
    <p>Tanya - 09217561</p>
   
</div>
