@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3><font color="#0277bd">Western Institute of Studies | WIS</font></h3>
    <table width="100%">
        <tr>
            <img src="~/images/01.jpg" width="100%"/>
        </tr>
        </table>
</div>
