@model SOFT806_ClassActivity.Models.Admin


<form asp-action="Login">

    <h3>Page Admin Login</h3>
    <br />
    <label asp-for="Email"> </label>
    <input asp-for="Email" class="form-control" />
    <br />
    <label asp-for="Password"> </label>
    <input asp-for="Password" class="form-control" />
    <br />
    <input type="submit" />
    <br /> <br />


</form>